<div class="col-md-8 col-md-offset-2">
<input type="text" name="" placeholder="请输入要查询的内容" ng-model="search">
<table class="table table-striped">
 <caption>学生列表</caption>
	<thead>
		<tr>
			<td>学号</td>
			<td>姓名</td>
			<td>性别</td>
			<td>年龄</td>
			<td>专业</td>
			<td>操作</td>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="stu in students | filter:search">
			<td>{{stu.no}}</td>
			<td>{{stu.name}}</td>
			<td>{{stu.sex}}</td>
			<td>{{stu.age}}</td>
			<td>{{stu.major}}</td>
			<td>
				<a href="#/student/{{stu.no}}">查看</a>
			</td>
		</tr>
		
	</tbody>
</table>
</div>