*{
	margin: 0;
	padding: 0;
}
html,body{
  height: 100%;
  background-color: #e9e9e9;
  font:14px/1.5 "Helvetica Neue",Helvetica,Arial,"Microsoft Yahei","Hiragino Sans GB","Heiti SC","WenQuanYi Micro Hei",sans-serif
}
.login{
	height: 100%;
}
.login_content{
	height: 580px;
	background-color: #fff;
}
.login_logo{
	text-align: center;
	margin-top: 50px;
}
.login_logo img{
	height: 48px;
	width: 48px;
}
h1{
	font-size:30px ;
	text-align: center;
	margin-top: 50px;
	color: : #424242;
}
input[type=text]{
	width: 326px;
	height: 50px;
	margin-top: 30px;
	border: 1px solid #e0e0e0;
	outline: none;
	padding-left: 15px;
}
input[type=submit]{
	margin-top: 30px;
	width: 326px;
	height: 50px;
	background-color: #ff6700;
	border: none;
	color: #fff;
	font-size: 16px;
	outline: none;
}
.form{
	text-align: center;
}
.change{
	position: absolute;
}
.change a{
	display: block;
	background: url("../img/sprite_login.gif") no-repeat;
	width: 68px;
	height: 68px;
	opacity: 0.5;
}
.change a:hover{
	opacity: 1;
}
/*二维码登录*/
.colse{
	position: absolute;
}
.colse a{
	display: block;
	background:url("../img/sprite_login_close.png") center center no-repeat;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background-color: #dedede;
	margin: 20px auto;
}
.sm{
	margin-top: 110px;
	color: #ff6700;
}
.info{
	text-align: center;
	margin-top: 20px;
}
.info img{
	margin-top: 60px;
}