<div class="top">
  <div class="comwidth">
      <h1>ToDoList</h1>
      <input type="text" [(ngModel)]='tast' (keyup)="addData($event)" />
  </div> 
</div>
<div class="comwidth list">
    <h2>未完成的</h2> 
    <ul>
      <li *ngFor="let item of list;let i=index" [hidden]='item.state!=0'>
        <input type="checkbox"  [(ngModel)]='item.state' (click)='update(i,1)' />
        {{item.tast}}<a href="javascript:;" (click)='removeData(i)'></a>
      </li>
    </ul>
    <h2>已完成的</h2>
    <ul>
      <li *ngFor="let item of list;let i=index" [hidden]='item.state!=1'>
        <input type="checkbox" [(ngModel)]='item.state'  (click)='update(i,0)'/>
        {{item.tast}}<a href="javascript:;" (click)='removeData(i)'></a>
      </li>
    </ul>  
</div>
