/* You can add global styles to this file, and also import other style files */
*{
    margin:0;
    padding:0;
}
body{
  font: 12px/1.5 tahoma,arial,Hiragino Sans GB,WenQuanYi Micro Hei,\5FAE\8F6F\96C5\9ED1,\5B8B\4F53,sans-serif;
}
a{
    text-decoration: none;
}
.left,.right{
  
    float: left;
    height: 360px;
    margin-top: 20px;
}
.left{
    background-color: #fff;
    width: 126px;
    text-align: center;
}
.left dl{
  margin-top: 20px;
  font-weight: bold;
  font-size:14px;
  color:#333
}
.left dd{
    margin-top: 12px;
   
}
.left dd a{
    color:#999
}
.right{
    width: 780px;
    margin-left: 10px;
}

/*右侧*/
.info .info-header p{
   line-height: 14px;
   padding-left: 14px;
   border-left:2px solid #f10582;
   margin-bottom: 10px;
   color:#666;
}
.info .info-body{
    background-color: #fff;
    height: 236px;
    text-align: center;
    font-size: 32px;
    font-weight:bold;
    padding-top:100px;
    color:#999;
}