body>div{
	width: 500px;
	height: 400px;
	margin: 0 auto;
	border: 1px solid #ccc;
	text-align: center;
	margin-top: 100px;
}
nav{
	width: 500px;
	font-size: 0;
	height: 48px;
	background-color: #F5F5F5;
	line-height: 48px;
	border-bottom: 3px solid red;
}
nav a{
  display: inline-block;
  width: 25%;
  font-size: 20px;
 text-decoration: none;
 color: #000;
 font-weight: 600;
}
nav.a1 .a1,nav.a2 .a2,nav.a3 .a3,nav.a4 .a4{
	background-color: red;
}
li{
	list-style: none;
	text-align: left;
	height: 30px;
	line-height: 30px;
	font-size: 20px;
}
li a{
	text-decoration: none;
}